<nav class="navbar navbar-expand-lg bg-light">
   <div class="container-fluid">
     <a class="navbar-brand" href="#">لوبینو</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarText">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li  class="d-flex mt-2" >
            <span>تیره</span>
            <div class="form-check form-switch">
               <input class="form-check-input" type="checkbox" role="switch" (change)="onToggle()">
            </div>
            <span>روشن</span>
         </li>
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ورود یا عضویت</a>
         </li>
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="#">صفحه اصلی</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">محصولات</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">دوره ها</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#">قوانین و مقررات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">وبلاگ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">درباره ما</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">تماس</a>
          </li>
          <li>
            <input type="checkbox">
          </li>
       </ul>
     </div>
   </div>
 </nav>